@charset "UTF-8";

html{font-size: 100%;}

body{
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", sans-serif;
  color:#432;
}

a{
  text-decoration: none;
  color: #432;
}

img{max-width: 100%;
}

.wrapper{
  max-width: 1120px;
  margin: auto;
  padding: 0 1.5rem;
}
.align-center{
  text-align: center;
}

.font-english{
  font-family: 'philosopher',sans-serif;
  font-weight: normal;
}

.page-title,
.heading-large,
.heading-medium{
  font-size: 3rem;
  text-align: center;
}

.page-title{
  margin-top: 2rem;
  line-height:1.4;
}

.heading-large{
  margin-bottom: 1rem;
}
.page-header{
  padding-top: 5rem;
  color: #fff;
}
.page-header a{
  color: #fff;
}

.logo{
  width: 210px;
}

.post{
  width: 60%;
}
.post-title{
  font-weight: normal;
  margin-bottom: 1.25rem;
}
.post-info{
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}
.post-cat{
  display: flex;
  gap: 1rem;
  list-style: none;
}
.post-cat a{
  color: #432;
  background-color: #faf7f0;
  border-radius: 8px;
  font-size: .875rem;
  padding: .5rem .75rem;
}
.post-cat a:hover{
  background-color: #c9c2bc;
}

.post-date{
  font-size: .875rem;
}
.post-thumbnail{
  border-radius: 16px;
  margin-bottom: 1.5rem;
}
.post a{
  margin-bottom: 1.5rem;
  line-height: 2;
}

.main{
  text-align: center;
}
.main-nav{
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  font-size: 1.5rem;
  list-style: none;
}

.main-nav a{
  position: relative;
  color: #fff;
}

.main-nav a::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: #0bd;
  transition: 0.3s;
}
.main-nav a:hover{
  color:#0bd;
}
.main-nav a:hover::after{
  width: 100%;
}

.cover{
  background-size: cover;
  background-position: center bottom;
  height: 800px;
}
.sub-cover{
  background-size: cover;
  background-position: center bottom;
  height: 800px;
  margin-bottom: 4rem;
}
.cover-home{
  background-image: url(logo.png);
  height:800px;
}
.about p{
  margin-bottom: 3rem;
}
.cover-news{
  background-image: url(logo.png);
  background-size: cover;
  background-position: center;
  height: 500px;
}
.page-footer{
  position: relative;
  background-image: url(haikei.jpg);
  background-size: cover;
  background-position: center;
  padding: 4rem 0;
}
.info{
  width: 100%;
  max-width: 544px;
  margin: auto;
  padding: 0 1.5rem;
  border-spacing: 0;
  padding-top: 4rem;
}
.info th,
.info td{
  border-bottom: 1px solid #c9c2bc;
}
.info th{
  text-align: left;
  font-weight: normal;
  padding: 1rem;
}
.info td{
  padding: 1rem 0;
}

@media(min-width: 800px){
  .page-title{
    font-size: 5rem;
  }
  .heading-large{
    font-size: 4rem;
  }
  .post-tytle{
    font-size: 2rem;
  }
  .page-header{
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
  }
  .main-nav{
    font-size: 2rem;
  }
  .cover-home{
    background-image: url(logo.png);
  }
  .sub-cover{
    height: 400px;
    margin-bottom: 6rem;
  }
  }
  .about{
    margin: 4rem auto 0;
  }
  .page-footer{
    background-image: url(haikei.jpg);
  }
  .info th{
    padding-left: 2.5rem;
  }
.copyright{
  background-color: #432;
  text-align: center;
  padding: 2rem 0;
  margin-top: 6rem;
  color: #fff;
}

.side-menu{
  list-style: none;
  text-align: center;
  margin-bottom: 4rem;
}
.side-menu li{
  border-bottom: 1px solid #c9c2bc;
}
.side-menu a{
color: #432;
display: block;
padding: 1rem;
}
.side-menu a:hover{
  color: #0bd;
}
.cover-news{
  background-image: url(logo.png);
}
.news-contents{
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
.post{
  width: 60%;
  order: 2;
}
.sidebar{
  width: 25%;
  order: 3;
}
.sidebar .heading-medium{
  line-height: 1;
  margin-bottom: 1rem;
  
}
.page-footer{
  background-image:url(haikei.jpg);
  padding-left: 12rem;
}
.info th{
  padding-left: 2.5rem;
}
.sidebar{
  width: 20%;
  height: auto;
}
.ad{
  width: 20%;
  order: 1;
}
.ad img{
  width: 100%;
  height: auto;
}
